<!DOCTYPE html>
<html ng-app='SampleApp'>
<head>
	<meta charset="UTF-8">
	<title>AngularJS</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body ng-controller='SampleAppCtrl'>

	
	<!-- <select ng-model="selected" ng-options="item for item in items"></select> -->

	<select ng-model='selected' ng-options='item for item in items'></select>



	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

	<script>
    var app = angular.module("SampleApp", []);

    app.controller("SampleAppCtrl", function ($scope) {
        $scope.items = ['item 1', 'item 2', 'item 3'];
        $scope.selected = $scope.items[2];
    });
  </script>
	
</body>
</html>